header{
    height: 70px;
    width: 100%;
    background-color:rgba(45, 58, 231, 0.9);
  }

  a {
    text-decoration: none;
  }

  .logo{
    width: 70px;
    height:70px;
}

.header-left{
    float:left;
    width:20%;
}

.header-left a {
    line-height: 67px;
    color: white;
    display: block;
    border-bottom:transparent;
    text-align:center;
    font-size: 30px;
    opacity:0.8;
}

.cuisine:hover{
    opacity:1;
}

.back-image{
    padding:200px 0 300px 0;
    background-image:url(./img/foodcourt.jpg);
    background-size:cover;
    text-align:center;

}
.back-massage{
    height:100%;
    background: rgba(255,255,255,0.5);
}

.back-massage h2 {
    font-size:90px;
}