header{
    height: 70px;
    width: 100%;
    background-color:rgba(45, 58, 231, 0.9);
  }

  a {
    text-decoration: none;
  }

  .logo{
    width: 70px;
    height:70px;
}

.header-left{
    float:left;
    width:20%;
}

.header-left a {
    line-height: 67px;
    color: white;
    display: block;
    border:3px solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom:transparent;
    border-color:black;
    text-align:center;
    font-size: 30px;
}

.main{
    padding:180px 0 1000px 0;
    background-image:url(./img/chibani-.jpg);
    background-size:cover;
    text-align:center;
}

